@import "../components/ctr.vars.scss";

.page-header {
    color: $colorGraph;
    border-bottom-color: $colorGraph;
}
.dscrb {
    color: $colorGraph;
}
text.recharts-text.recharts-label tspan {
    fill: #ef6800;
}
tspan {
    fill: #011d6e;
}